
 <div class="container">
  {% if page.footer %}
    <div>
       <footer class="footer" role="contentinfo">
      {{ page.footer }}
    </footer>
    </div>
   
  {% endif %}

</div>{# /.layout-container #}
