.main-header{
	height: 100px;
	background:url(../images/hero.jpg) no-repeat center center;
	padding-left: 20px;
}

.logo{
	@include span(2);

	img{
		max-width: 100%;
	}
}

.main-navigation{
	margin-top: 15px;
	padding-left: 20px;

	
	li{
		float: left;
		// position: relative;
		
	}
	ul ul{
		position: absolute;
		width: 150px;
		background: #A6A19D; 
		display: none;

		li{
			float: none;
			
			a{
			    
				color: black;
				display: block;
				// padding: 5px;
				float: none;
				border-bottom: 1px solid #efefef;
				
    			&:hover
    			 {
    			 	background: #605E5C;
    			 	color: black;
    			 	text-decoration: none;
    			 }
			}
		}
	}
a {
    background-color: #A6A19D;
    border: 1px solid #605E5C; 
    color: black; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
    text-decoration: none;
}

a:after {
    content: "";
    clear: both;
    display: table;
}

a:hover {
    background-color: #898583;
}

}


.footer{
	background-color: #F77A26;
	padding: 9px 9px;
	text-align: center;
}
