body{
	background-color: orange;

}

.container{
	background-color: white;
	padding-top: 10px;
	
}
main{
    margin-top: 100px;
}

.layout-content{
    @include span(8);

    
}

.layout-sidebar{
    @include span(4);

   
}

.contextual-region h2{
    font-size: 25px;
    font-weight: 1em;
    color: #403B42;
    
}

.quickedit-field{
    form{
        padding-top: 20px;
    }

    p{
        padding-top: 5px;
        font-weight: 2em;
     
     .box{
        border-width: 2px;
     }

     .but{
        // text-align: center;
        margin-left:auto;
         margin-right:auto;
     }
    }

   .lin{
    padding-left: 10%;
    color: green;
    padding-top: 20%;
    font-size: 12px;
    font-weight: bold;
   }

   a{
    color: black;
   }

}

.views-element-container h2{
    font-size: 20px;
    font-weight: 1em;
    padding-top: 15px;

    a{
        color: green;
        font-size: 17px;
        font-weight: bold;
    }
}

.node-readmore{
   display: none;
}


.quickedit-field{
    p{
        text-align: justify;
    }
}

.field-content{
    p{
        text-align: justify;
    }
}